/* Sidebar Styles */
#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 300px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  /* background: #37474f; */
  background-color: lightblue;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-align: center;
}

.textColor {
  font-style: italic;
  margin-top: 15px;
  color: black;
  border-bottom: 1px solid lightslategray;
}

.dataListStyle {
  margin-top: 32px;
  list-style: none;
  text-align: start;
}
.list-item {
  margin-bottom: 10px;
  border-bottom: 1px solid darkgrey;
}
